---
import '../styles/orbs.css'; 
---

<div class="container">
  <div class="orb"></div>
  <div class="orb"></div>
  <div class="orb"></div>
  <div class="orb"></div>
  <div class="orb"></div>
  <div class="orb"></div>
  <div class="orb"></div>
  <div class="orb"></div>
  <div class="orb"></div>
  <div class="orb"></div>
</div>
